    body {
        background-color: black;
        color: red; 
        text-align: center;
    }

    section {
        text-align: center;
    }

    .menu {
        color: yellow; text-align: center;
    }
    
    .Wolfy {
        text-align: center;

    
    };